bpelContent/PaymentImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://Payment.Milestone1.SC13Project" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax249="http://Payment.Milestone1.SC13Project/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Payment.Milestone1.SC13Project">
    <wsdl:documentation>
		 Payment Web Service
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://Payment.Milestone1.SC13Project/xsd">
            <xs:complexType name="TransactionException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax250="http://Payment.Milestone1.SC13Project/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://Payment.Milestone1.SC13Project">
            <xs:import namespace="http://Payment.Milestone1.SC13Project/xsd"/>
            <xs:element name="queryAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accountID" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PaymentImplTransactionException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="TransactionException" nillable="true" type="ax250:TransactionException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="transfer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accountID1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="accountID2" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="amount" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="transferResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="transferRequest">
        <wsdl:part name="parameters" element="ns:transfer"/>
    </wsdl:message>
    <wsdl:message name="transferResponse">
        <wsdl:part name="parameters" element="ns:transferResponse"/>
    </wsdl:message>
    <wsdl:message name="PaymentImplTransactionException">
        <wsdl:part name="parameters" element="ns:PaymentImplTransactionException"/>
    </wsdl:message>
    <wsdl:message name="queryAccountRequest">
        <wsdl:part name="parameters" element="ns:queryAccount"/>
    </wsdl:message>
    <wsdl:message name="queryAccountResponse">
        <wsdl:part name="parameters" element="ns:queryAccountResponse"/>
    </wsdl:message>
    <wsdl:portType name="PaymentImplPortType">
        <wsdl:operation name="transfer">
            <wsdl:input message="ns:transferRequest" wsaw:Action="urn:transfer"/>
            <wsdl:output message="ns:transferResponse" wsaw:Action="urn:transferResponse"/>
            <wsdl:fault message="ns:PaymentImplTransactionException" name="PaymentImplTransactionException" wsaw:Action="urn:transferPaymentImplTransactionException"/>
        </wsdl:operation>
        <wsdl:operation name="queryAccount">
            <wsdl:input message="ns:queryAccountRequest" wsaw:Action="urn:queryAccount"/>
            <wsdl:output message="ns:queryAccountResponse" wsaw:Action="urn:queryAccountResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PaymentImplSoap11Binding" type="ns:PaymentImplPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="transfer">
            <soap:operation soapAction="urn:transfer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="PaymentImplTransactionException">
                <soap:fault use="literal" name="PaymentImplTransactionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryAccount">
            <soap:operation soapAction="urn:queryAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PaymentImplSoap12Binding" type="ns:PaymentImplPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="transfer">
            <soap12:operation soapAction="urn:transfer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="PaymentImplTransactionException">
                <soap12:fault use="literal" name="PaymentImplTransactionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryAccount">
            <soap12:operation soapAction="urn:queryAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PaymentImplHttpBinding" type="ns:PaymentImplPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="transfer">
            <http:operation location="transfer"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryAccount">
            <http:operation location="queryAccount"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PaymentImpl">
        <wsdl:port name="PaymentImplHttpSoap11Endpoint" binding="ns:PaymentImplSoap11Binding">
            <soap:address location="http://vmjacobsen4.informatik.tu-muenchen.de:8080/axis2/services/g45/PaymentImpl.PaymentImplHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PaymentImplHttpSoap12Endpoint" binding="ns:PaymentImplSoap12Binding">
            <soap12:address location="http://vmjacobsen4.informatik.tu-muenchen.de:8080/axis2/services/g45/PaymentImpl.PaymentImplHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PaymentImplHttpEndpoint" binding="ns:PaymentImplHttpBinding">
            <http:address location="http://vmjacobsen4.informatik.tu-muenchen.de:8080/axis2/services/g45/PaymentImpl.PaymentImplHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
